<div>
    <%= link_to 'Home', root_path %>
    <%= link_to 'About', about_me_path %>
    <%= link_to 'Contact', contact_path %>
    <%= link_to 'Lash Care', lashcare_path %>
    <%= link_to 'FAQs', faqs_path %>
    <%= link_to 'Appointments', appointments_path %>
    <%= link_to 'Services', services_path %>
    <%= link_to 'Lashes', lashes_path %>
    <%= link_to 'Products', products_path %>

    <% if logged_in?(:user) %>
        <%= button_to 'Logout', destroy_user_session_path, method: :delete %>
    <% else %>
        <%= link_to 'Sign up', new_user_registration_path %>
        <%= link_to 'Log In', new_user_session_path %>
    <% end %>
</div>