<div id="<%= dom_id product %>">
  <p>
    <strong>Title:</strong>
    <%= product.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= product.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= product.price %>
  </p>

  <p>
    <strong>Thumb image:</strong>
    <%= product.thumb_image %>
  </p>

  <p>
    <strong>Main image:</strong>
    <%= product.main_image %>
  </p>

</div>
