<!DOCTYPE html>
<html>
  <head>
    <title>Salon</title>
    <%= favicon_link_tag asset_path('favicon.ico'), rel: 'icon' %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "product", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="d-flex min-vh-100 flex-column">

    <%= render 'shared/application_nav' %>

    <div class='container'>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <%= yield %>
    </div>

    <%= render 'shared/application_footer' %>
  </body>
</html>